body {
  background-color: transparent;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  height: 100vh;
  overflow: none;
  margin: 0;
  padding: 0;
}

h1 {
  color: #172b4d;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 28px;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

form {
  padding-top: 60px;
}

a {
  text-decoration: none;
}

.enter-token {
  padding: 30px;
}

.token-input {
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: rgb(52, 64, 84);
  display: flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  gap: 10px;
  height: 36px;
  line-height: 1.25rem;
  outline: none;
  padding: 10px 16px;
  width: 100%;
  border: 1px solid rgb(234, 236, 240);
}

.docs {
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0rem 0.25rem;
  height: auto;
  text-align: start;
  text-decoration: unset;
  transition: 0.25s;
  width: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgb(29, 41, 57);
}

.docs:hover {
  background-color: rgb(242, 244, 247);
  color: rgb(12, 17, 29);
}

.docs-text {
  font-size: 14px;
  font-weight: 400;
  text-align: start;
  color: rgb(29, 41, 57);
  text-decoration: unset;
}

.required {
  color: rgb(240, 68, 56);
  font-size: 18px;
}

.submit-token-button {
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 10px 16px;
  height: auto;
  text-align: start;
  text-decoration: unset;
  transition: 0.25s;
  width: auto;
  cursor: pointer;
  background: rgb(191, 11, 26);
  border: none;
  color: rgb(255, 255, 255);
}

.submit-token-button:hover {
  background-color: rgb(243, 38, 55);
}

.submit-token-div-1 {
  margin-top: 30px;
}

.submit-org-button {
  font-size: 14px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 10px 16px;
  height: auto;
  text-align: start;
  text-decoration: unset;
  transition: 0.25s;
  width: auto;
  cursor: pointer;
  background: rgb(191, 11, 26);
  border: none;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.submit-org-button:hover {
  background-color: rgb(243, 38, 55);
}

.submit-org-div-1 {
  margin-top: 30px;
}

.org-select {
  align-items: center;
  background: rgb(255, 255, 255);
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: rgb(52, 64, 84);
  display: flex;
  font-size: 14px;
  font-weight: 400;
  height: 42px;
  line-height: 1.25rem;
  outline: none;
  padding: 10px 16px;
  align-self: stretch;
  border: 1px solid rgb(234, 236, 240);
  gap: 4px;
  width: 100%;
}

.authenticated {
  background: rgb(246, 254, 249);
  border: 1px solid rgb(18, 183, 106);
  color: rgb(2, 122, 72);
  align-items: center;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25rem;
  min-height: 48px;
  min-width: 250px;
  width: 100%;
  padding: 0.75rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit-token-button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.disclaimer-text {
  margin-top: 20px;
  margin-bottom: 20px;
}

.jwt-error {
  background: white;
  border: 1px solid #bf0b1a;
  color: #bf0b1a;
  align-items: center;
  border-radius: 0.25rem;
  box-sizing: border-box;
  display: inline-flex;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.25rem;
  min-height: 48px;
  min-width: 250px;
  width: 100%;
  padding: 0.75rem;
}
