<img src="https://res.cloudinary.com/fluid-attacks/image/upload/c_scale,w_256/docs/criteria/compliance/logos/{{ standard_id }}.png"
    alt="logo" style="display: block; margin-left: auto; margin-right: auto;">

<h2>Summary</h2>
<p>{{ src.en.summary | replace('\n', '<br>') | safe}}</p>

<h2>Definitions</h2>
<table style="border-collapse: collapse; width: 100%; table-layout: fixed;">
    <thead>
      <tr>
        <th style="border: 1px solid black; padding: 8px; width: 50%;">Definition</th>
        <th style="border: 1px solid black; padding: 8px; width: 50%;">Requirements</th>
      </tr>
    </thead>
    <tbody>
      {% for definition_id, definition in src.definitions.items() %}
      <tr>
        <td style="border: 1px solid black; padding: 8px; width: 50%; height: 50px;">
          <a href="{{ definition.link }}">{{ definition_id }}. {{ definition.title }}</a>
        </td>
        <td style="border: 1px solid black; padding: 8px; width: 50%; height: 50px;">
          {% for requirement_id, requirement in requirements[definition_id] %}
          <a href="criteria-requirements-{{ requirement_id }}">{{ requirement_id }}. {{ requirement.en.title }}</a><br>
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% include 'layouts/components/footer.html' %}
