<h2>Need</h2>
<p>{{ fix.need }}</p>

<h2>Context</h2>
<ul>
    {% for item in fix.context %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

<h2>Description</h2>

<h3>Non compliant code</h3>
<div style="box-sizing: border-box; background-color: #f6f8fa; padding: 16px; border-radius: 6px; overflow: auto; margin-top: 0px; margin-bottom: 16px;">
    <pre style="box-sizing: border-box; margin: 0; padding: 0; background-color: inherit;">
        <code style="box-sizing: border-box; background-color: inherit; border: none; font: inherit; float: left; min-width: 100%;"
            >{{ fix.solution.insecure_code_example.text | e }}
        </code>
        </pre>
</div>
<p>{{ fix.solution.insecure_code_example.description | markdown_to_html}}</p>

<h3>Steps</h3>
<ul>
    {% for step in fix.solution.steps %}
    <li>{{ step }}</li>
    {% endfor %}
</ul>

<h3>Compliant code</h3>
<div style="box-sizing: border-box; background-color: #f6f8fa; padding: 16px; border-radius: 6px; overflow: auto; margin-top: 0px; margin-bottom: 16px;">
    <pre style="box-sizing: border-box; margin: 0; padding: 0; background-color: inherit;">
        <code style="box-sizing: border-box; background-color: inherit; border: none; font: inherit; float: left; min-width: 100%;"
            >{{ fix.solution.secure_code_example.text | e }}
        </code>
        </pre>
</div>
<p>{{ fix.solution.secure_code_example.description | replace("<", "&lt;") | markdown_to_html}}</p>

<h2>References</h2>
<ul>
    <li><a href="criteria-vulnerabilities-{{ fix.vulnerability_id }}">{{ fix.vulnerability_id }}. {{ vulnerability_name }}</a></li>
</ul>
