  <h2>Description</h2>
  <p>{{ src.en.description | replace('\n', '<br>') | safe }}</p>

  <h2>Impact</h2>
  <p>{{ src.en.impact | replace('\n', '<br>') | safe}}</p>

  <h2>Recommendation</h2>
  <p>{{ src.en.recommendation | replace('\n', '<br>') | safe}}</p>

  <h2>Threat</h2>
  <p>{{ src.en.threat }}</p>

  <h2>Expected Remediation Time</h2>
  <p>⌚ {{ src.remediation_time }} minutes.</p>

  <h2>Score</h2>
  <p>Default score using <a href="https://www.first.org/cvss/calculator/3.1">CVSS 3.1</a>. It may change depending on the context of the src.</p>

  <h3>Base</h3>
  <ul>
      <li>Attack vector: <strong>{{ src.score.base.attack_vector }}</strong></li>
      <li>Attack complexity: <strong>{{ src.score.base.attack_complexity }}</strong></li>
      <li>Privileges required: <strong>{{ src.score.base.privileges_required }}</strong></li>
      <li>User interaction: <strong>{{ src.score.base.user_interaction }}</strong></li>
      <li>Scope: <strong>{{ src.score.base.scope }}</strong></li>
      <li>Confidentiality: <strong>{{ src.score.base.confidentiality }}</strong></li>
      <li>Integrity: <strong>{{ src.score.base.integrity }}</strong></li>
      <li>Availability: <strong>{{ src.score.base.availability }}</strong></li>
  </ul>

  <h3>Temporal</h3>
  <ul>
      <li>Exploit code maturity: <strong>{{ src.score.temporal.exploit_code_maturity }}</strong></li>
      <li>Remediation level: <strong>{{ src.score.temporal.remediation_level }}</strong></li>
      <li>Report confidence: <strong>{{ src.score.temporal.report_confidence }}</strong></li>
  </ul>

  <h3>Result</h3>
  <ul>
      <li>Vector string: <strong>{{ vector_string }}</strong></li>
      <li>Score:</li>
      <ul>
          <li>Base: <strong>{{ score.score.base }}</strong></li>
          <li>Temporal: <strong>{{ score.score.temporal }}</strong></li>
      </ul>
      <li>Severity:</li>
      <ul>
          <li>Base: <strong>{{ score.severity.base }}</strong></li>
          <li>Temporal: <strong>{{ score.severity.temporal }}</strong></li>
      </ul>
  </ul>

  {% if score_v4 %}
  <h2>Score 4.0</h2>
  <p>Default score using <a href="https://www.first.org/cvss/calculator/4.0">CVSS 4.0</a>. It may change depending on the context of the src.</p>

  <h3>Base 4.0</h3>
  <ul>
      <li>Attack vector: <strong>{{ src.score_v4.base.attack_vector }}</strong></li>
      <li>Attack complexity: <strong>{{ src.score_v4.base.attack_complexity }}</strong></li>
      <li>Attack Requirements: <strong>{{ src.score_v4.base.attack_requirements }}</strong></li>
      <li>Privileges required: <strong>{{ src.score_v4.base.privileges_required }}</strong></li>
      <li>User interaction: <strong>{{ src.score_v4.base.user_interaction }}</strong></li>
      <li>Confidentiality (VC): <strong>{{ src.score_v4.base.confidentiality_vc }}</strong></li>
      <li>Integrity (VI): <strong>{{ src.score_v4.base.integrity_vi }}</strong></li>
      <li>Availability (VA): <strong>{{ src.score_v4.base.availability_va }}</strong></li>
      <li>Confidentiality (SC): <strong>{{ src.score_v4.base.confidentiality_sc }}</strong></li>
      <li>Integrity (SI): <strong>{{ src.score_v4.base.integrity_si }}</strong></li>
      <li>Availability (SA): <strong>{{ src.score_v4.base.availability_sa }}</strong></li>
  </ul>

  <h3>Threat 4.0</h3>
  <ul>
      <li>Exploit maturity: <strong>{{ src.score_v4.threat.exploit_maturity }}</strong></li>
  </ul>

  <h3>Result 4.0</h3>
  <ul>
      <li>Vector string: <strong>{{ vector_v4_string }}</strong></li>
      <li>Score:</li>
      <ul>
          <li>CVSS-BT: <strong>{{ score_v4.score.cvss_bt }}</strong></li>
      </ul>
      <li>Severity:</li>
      <ul>
          <li>CVSS-BT: <strong>{{ score_v4.severity.cvss_bt }}</strong></li>
      </ul>
  </ul>
  {% endif %}

  {% if not vulnerability_fixes %}
  <h3>Compliant code</h3>
  <p>{{ src.examples.compliant | markdown_to_html}}</p>

  <h3>Non compliant code</h3>
  <p>{{ src.examples.non_compliant | markdown_to_html}}</p>
  {% endif %}

  {% if src.metadata.en.details != "__empty__" %}
  <h2>Details</h2>
  <p>{{ src.metadata.en.details | markdown_to_html }}</p>
  {% endif %}

  <h2>Requirements</h2>
  <ul>
  {% for req in src.requirements %}
      <li><a href="criteria-requirements-{{ req }}">{{ req }}.{{ requirements[req].en.title }}</a></li>
  {% endfor %}
  </ul>

  <h2>Fixes</h2>
  <ul>
  {% for fix in vulnerability_fixes %}
      <li><a href="criteria-fixes-{{ fix.solution.language }}-{{ vulnerability_id }}">{{ languages_map[fix.solution.language] }}</a></li>
  {% endfor %}
  </ul>
  {% include 'layouts/components/footer.html' %}
