html,
body,
#root {
  font-family: "Roboto", sans-serif;
  color: #333;
}

.report-mode {
  font-size: 18px;
}

.report-bg-change {
  background-color: #e9e9ed;
}

p,
ol,
ul {
  margin-block-end: 0rem !important;
}
