body {
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  height: 100vh;
  overflow: none;
  margin: 0;
  padding: 0;
}

img {
  width: 180px;
}

input {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px;
  color: rgb(52, 64, 84);
  font-size: 20px;
  font-weight: 400;
  height: 42px;
  width: 42px;
  line-height: 1.25rem;
  text-align: center;
  outline: none;
  border: 1px solid rgb(234, 236, 240);
}

button {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25rem;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 40px;
  transition: all 0.3s ease 0s;
}

.primary-button {
  background: rgb(191, 11, 26);
  color: #fff;
}

.primary-button:hover {
  background-color: rgb(242, 24, 42);
  border-color: rgb(242, 24, 42);
}

.secondary-button {
  background: #fff;
  color: rgb(191, 11, 26);
}

.secondary-button:hover {
  background-color: rgb(191, 11, 26);
  border-color: rgb(191, 11, 26);
  color: rgb(255, 255, 255);
}

.outline-button {
  align-items: flex-start;
  background: #fff;
  border: 1px solid rgb(242, 244, 247);
  color: #000;
}

.outline-button:hover {
  background-color: rgb(244, 244, 246);
  border-color: rgb(244, 244, 246);
}

.custom-button {
  background: #fff;
  color: rgb(52, 64, 84);
}

.custom-button:hover {
  background-color: rgb(233, 233, 237);
  border-color: rgb(233, 233, 237);
  color: inherit;
}

.button-channel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button-channel-container > p {
  color: #000;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
}

p {
  color: rgb(71, 84, 103);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

h3 {
  color: rgb(29, 41, 57);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

h6 {
  color: rgb(16, 24, 40);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 4px;
}

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 28px;
  min-height: 367px;
  min-width: 319px;
  max-width: 390px;
  height: auto;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  padding: 24px;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px 0px rgba(16, 24, 40, 0.15);
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.details-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
}

.alert {
  align-items: center;
  border-radius: 0.25rem;
  display: inline-flex;
  font-size: 14px;
  font-weight: 700;
  padding: 0.75rem;

  background: rgb(254, 243, 242);
  border: 1px solid rgb(240, 68, 56);
  color: rgb(180, 35, 24);
}

.secondary-alert {
  font-size: 12px;
  color: #98a2b3;
  font-weight: 400;
  margin-bottom: 0;
}

.otp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
}

.otp-input-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.details-container > p {
  color: rgb(52, 64, 84);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}

.button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.button-container.row {
  flex-direction: row;
}

.hidden {
  display: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 4px;
}

.details-container > svg {
  margin-right: 8px;
  top: 0;
  left: 0;
  height: 8px;
  width: 8px;
  padding: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #475467;
}

.details-container > svg > path {
  fill: #ffffff;
}

input[type="checkbox"]:checked ~ svg {
  background-color: #bf0b1a;
  border: 1px solid #bf0b1a;
}

input[type="checkbox"]:disabled ~ svg {
  border: 1px solid #d0d5dd;
}

input[type="checkbox"]:not(:disabled):hover ~ svg {
  box-shadow: 0 0 0 4px #f2f4f7;
}

input[type="checkbox"]:checked:disabled ~ svg {
  background-color: #d0d5dd;
  border: 1px solid #d0d5dd;
}

input[type="checkbox"]:not(:disabled):hover:checked ~ svg {
  box-shadow: 0 0 0 4px #fddfe2;
}

input[type="checkbox"]:checked ~ svg > path {
  fill: #ffffff;
}

input[type="checkbox"]:checked:disabled ~ svg > path {
  fill: #ffffff;
}
