<!-- HTML Meta Tags -->
<title>Fluid Attacks Design System</title>
<meta
  name="description"
  content="This is Fluid Attacks' design library for products and digital experiences."
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://design.fluidattacks.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Fluid Attacks Design System" />
<meta
  property="og:description"
  content="This is Fluid Attacks' design system for products and digital experiences."
/>
<meta
  property="og:image"
  content="https://res.cloudinary.com/fluid-attacks/image/upload/v1695155330/og-preview.png"
/>

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="design.fluidattacks.com" />
<meta property="twitter:url" content="https://design.fluidattacks.com" />
<meta name="twitter:title" content="Fluid Attacks Design System" />
<meta
  name="twitter:description"
  content="This is Fluid Attacks' design system for products and digital experiences."
/>
<meta
  name="twitter:image"
  content="https://res.cloudinary.com/fluid-attacks/image/upload/v1695155330/og-preview.png"
/>

<link
  rel="shortcut icon"
  href="https://res.cloudinary.com/fluid-attacks/image/upload/v1728048513/airs/logo/favicon_logo.ico"
/>
<link
  rel="icon"
  type="image/png"
  href="https://res.cloudinary.com/fluid-attacks/image/upload/v1727795769/airs/logo/logo_icon.png"
/>
<!-- NOFLUID -->
<link
  rel="stylesheet"
  href="https://kit.fontawesome.com/6ad6ea9c42.css"
  crossorigin="anonymous"
/>
<style>
  body {
    font-family: "Roboto", sans-serif !important;
    scrollbar-color: #475467 #f2f4f7;
    scroll-padding: 8px;
  }

  .sidebar-subheading {
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    text-transform: initial !important;
  }
  .sidebar-subheading > button:first-child {
    display: flex;
    width: 100%;
    padding: 0;
    margin-left: 0;
    letter-spacing: normal;
  }
  .sidebar-subheading > .sidebar-subheading-action,
  .sidebar-subheading > button:first-child span {
    display: none !important;
  }

  button.sidebar-item {
    position: relative !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 0 10px !important;
    width: -webkit-fill-available !important;
  }
  button.sidebar-item > svg {
    display: none;
  }
  button.sidebar-item > span {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    border: none;
    margin-left: 10px;
    margin-right: 6px;
  }
  button.sidebar-item::after {
    transition: all 150ms;
    font: var(--fa-font-light);
    content: "\f078";
    font-size: 12px;
    position: absolute;
    height: 100%;
    right: 10px;
    top: 20%;
    transform: translate(0, -6px);
  }
  button.sidebar-item[aria-expanded="true"]::after {
    transition: all 150ms;
    transform: translate(6px, -12px) rotate(-90deg);
  }
  .sidebar-item > a {
    position: relative !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 14px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    margin: 0 10px !important;
  }
  .sidebar-item > a > svg {
    display: none;
  }
  .sidebar-item:hover:not([data-selected="true"]) {
    background-color: #ac0a1722 !important;
  }
  .sidebar-item[data-selected="true"] {
    color: #ac0a17 !important;
    background-color: transparent !important;
  }
  .sidebar-item[data-selected="true"] > a {
    color: #ac0a17 !important;
    background-color: #f2f4f7 !important;
  }
  .sidebar-item[data-selected="true"] > a::before {
    content: "";
    background-color: #ac0a17;
    position: absolute;
    width: 4px;
    height: 100%;
    left: 0px;
    top: 0px;
  }
  a[href="#storybook-preview-wrapper"] {
    display: none !important;
  }
</style>
