<!doctype html>
<html lang="en" translate="no">
  <head>
    <!-- NOFLUID -->
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094"
      data-blockingmode="auto"
      type="text/javascript"
    ></script>
    <!-- NOFLUID -->
    <script
      defer
      src="https://cdn.pagesense.io/js/fluidattacks7371/af99378768014606b6e394fe72f22b54.js"
    ></script>
    <!-- Start of Delighted survey script -->
    {% if 'https' in url_for('static', path='/delighted.js').__str__() %}
    <script
      defer
      src="{{ url_for('static', path='/delighted.js') }}"
      type="text/javascript"
    ></script>
    {% else %}
    <script
      defer
      src="{{ url_for('static', path='/delighted.js').__str__() | replace('http', 'https') }}"
      type="text/javascript"
    ></script>
    {% endif %}
    <!-- End of Delighted survey script -->
    <!-- NOFLUID -->
    <script
      defer
      src="https://kit.fontawesome.com/e60c73ff75.js"
      crossorigin="anonymous"
    ></script>
    <!-- NOFLUID -->
    <script
      defer
      src='https://static.cloudflareinsights.com/beacon.min.js'
      data-cf-beacon='{"token": "8c00bc699f4e4add8b9794daaeb1b31d"}'>
    </script>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta
      name="description"
      content="On our Attack Resistance Management platform, you receive vulnerability reports and can efficiently manage those security issues to reduce risk exposure."
    />
    <meta name="author" content="" />
    {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__() %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='/imgs/favicon.ico').__str__() | replace('http', 'https') }}"
    />
    {% endif %}
    <title>Platform | Fluid Attacks</title>
    {% if '127.0.0.1' in request.client.host and debug %} {% else %}
    <link rel="stylesheet" href="{{ css_vendors }}" type="text/css" />
    <link rel="stylesheet" href="{{ css }}" type="text/css" />
    {% endif %} {% if 'https' in url_for('static',
    path='/imgs/favicon.ico').__str__() %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/imgs/favicon.ico') }}"
    />
    {% else %}
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/imgs/favicon.ico').__str__() | replace('http', 'https') }}"
    />
    {% endif %}
  </head>
  <body>
    <div id="root"></div>
    {% if '127.0.0.1' in request.client.host and debug %}
    <script type="module">
      import RefreshRuntime from "https://localhost:3000/@react-refresh";
      RefreshRuntime.injectIntoGlobalHook(window);
      window.$RefreshReg$ = () => {};
      window.$RefreshSig$ = () => (type) => type;
      window.__vite_plugin_react_preamble_installed__ = true;
    </script>
    <script src="https://localhost:3000/@vite/client" type="module"></script>
    <script src="https://localhost:3000/src/app.tsx" type="module"></script>
    {% else %}
    <script type="text/javascript">
      var $zoho = $zoho || {};
      $zoho.salesiq = $zoho.salesiq || {
        widgetcode:
          "siqe94b4a9ea498a6ee876fd2d699d108bc833daf7a018e8a5f32da6a30211afd92",
        values: {},
        ready: function () {
          $zoho.salesiq.chat.department(["Platform"]);
        },
      };
      $zoho.salesiq.ready = function () {
        $zoho.salesiq.chat.department(["Platform"]);
      };
      var d = document;
      var s = d.createElement("script");
      s.type = "text/javascript";
      s.id = "zsiqscript";
      s.defer = true;
      s.src = "https://salesiq.zoho.com/widget";
      var t = d.getElementsByTagName("script")[0];
      t.parentNode.insertBefore(s, t);
      d.write("<div id='zsiqwidget'></div>");
    </script>
    <script data-cookieconsent="ignore" src="{{ js }}" type="module"></script>
    {% endif %}
    <script
      src="https://rum-static.pingdom.net/pa-5ae7406129ccc50006000057.js"
      integrity="sha384-X/6iomGHy/1WFnPXlaCnBy8y24W7QCKQIjetBGNiZ9TRTdOz5wm+DTDcLlw7lENZ"
      crossorigin="anonymous"
      async
    ></script>
  </body>
</html>
