<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Graphic</title>

    <!-- Include D3 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/6.7.0/d3.min.js"
      integrity="sha512-cd6CHE+XWDQ33ElJqsi0MdNte3S+bQY819f7p3NUHgwQQLXSKjE4cPZTeGNI+vaxZynk1wVU3hoHmow3m089wA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
      type="text/javascript"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/billboard.js@3.12.4/dist/billboard.min.js"
      integrity="sha256-ZviU/qJPO0TnOv9DxPXJd3u2ZSodBoaJl0oUeP9g55Q="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/billboard.js@3.12.4/dist/billboard.min.css"
      integrity="sha256-Ad8dzuPGcfJkkmlWJDynP339mALyiebA9Z42GuTi4zI="
      crossorigin="anonymous"
    />
    <!-- Include graphic generator -->
    {% if '127.0.0.1' in request.client.host and debug %}
    <link
      href="{{ url_for('static', path='/styles/graphic.css').__str__() | replace('http://', 'https://') }}"
      rel="stylesheet"
      type="text/css"
      media="screen"
    />
    <script
      src="{{ url_for('static', path=generator_src).__str__() | replace('http://', 'https://') }}"
      async
    ></script>
    {% else %}
    <script src="{{ generator_js }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ graphic_css }}" type="text/css" />
    {% endif %}
    <!-- Include Data Document -->
    <pre id="args" hidden>
      {{ args | tojson }}
    </pre>
  </head>
  <body onload="load()">
    <div id="root"></div>
  </body>
</html>
