<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <style>
      textarea {
        border: 0;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
      }
    </style>
    {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__() %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico').__str__() | replace('http', 'https') }}">
    {% endif %}
  </head>
  <body>
    {% if debug %}
      <textarea readonly>{{ traceback }}</textarea>
    {% endif %}
  </body>
</html>
