<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphics for {{ entity }}</title>
    <!-- Local Styles -->
    {% if '127.0.0.1' in request.client.host and debug %}
      <link href="{{ url_for('static', path='/styles/generic_graphic.css').__str__() | replace('http://', 'https://') }}" rel="stylesheet" type="text/css"  media="screen"/>
    {% else %}
      <link rel="stylesheet" href="{{ css_vendors }}" type="text/css">
      <link rel="stylesheet" href="{{ css }}" type="text/css">
      <link rel="stylesheet" href="{{ entity_graphic_css }}" type="text/css">
    {% endif %}
    <!-- Third party styles -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
      crossorigin="anonymous"
      type="text/css"
    >
  </head>
  <body>
    <div id="root"></div>

    <!-- Scripts -->
    {% if '127.0.0.1' in request.client.host and debug %}
      <script type="module">
        import RefreshRuntime from "https://localhost:3000/@react-refresh";
        RefreshRuntime.injectIntoGlobalHook(window);
        window.$RefreshReg$ = () => {};
        window.$RefreshSig$ = () => (type) => type;
        window.__vite_plugin_react_preamble_installed__ = true;
      </script>
      <script
        src="https://localhost:3000/src/graphics/views/{{entity.lower()}}.tsx"
        type="module"
      ></script>
    {% else %}
      <script src="{{ js_vendors }}" type="module"></script>
      <script src="{{ js }}" type="module"></script>
    {% endif %}
  </body>
</html>
