<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Platform | Fluid Attacks</title>

    {% if 'https' in url_for('static', path='/styles/valid_invitation.css').__str__() %}
    <link
      href="{{ url_for('static', path='/styles/valid_invitation.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    {% else %}
    <link
      href="{{ url_for('static', path='/styles/valid_invitation.css').__str__() | replace('http', 'https') }}"
      rel="stylesheet"
      type="text/css"
    />
    {% endif %}
  </head>

  <body>
    <div class="flex-container">
      <div>
        {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__() %}
        <img
          src="{{ url_for('static', path='/imgs/iconFluidAttacks.png') }}"
          alt="icon"
        />
        {% else %}
        <img
          src="{{ url_for('static', path='/imgs/iconFluidAttacks.png').__str__() | replace('http', 'https') }}"
          alt="icon"
        />
        {% endif %}
      </div>
      <div>
        <h2>The invitation was {{ error }}</h2>
      </div>
      <div>
        {% if entity_name %}
          <p>Please make sure that you have access to <strong>{{ entity_name }}</strong></p>
        {% else %}
          <p>Please make sure that you have a valid invitation</p>
          <br/>
        {% endif %}
        <p>In case that you can't access, please contact us.</p>
      </div>
    </div>
    <script>
      function Redirect() {
        location = "/";
      }
      setTimeout(Redirect, 10000);
    </script>
  </body>
</html>
