<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Platform | Fluid Attacks</title>

    <link rel="stylesheet" />
    {% if 'https' in url_for('static',
    path='/styles/otp_verification.css').__str__() %}
    <link
      href="{{ url_for('static', path='/styles/otp_verification.css') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% else %}
    <link
      href="{{ url_for('static', path='/styles/otp_verification.css').__str__() | replace('http', 'https') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% endif %}
  </head>

  <body>
    <div class="flex-container">
      <div id="unsubscribe-modal" class="card" style="min-height: auto">
        <div class="image-container">
          {% if 'https' in url_for('static', path='/imgs/favicon.ico').__str__()
          %}
          <img
            src="{{ url_for('static', path='/imgs/logoFluid.png') }}"
            alt="icon"
          />
          {% else %}
          <img
            src="{{ url_for('static', path='/imgs/logoFluid.png').__str__() | replace('http', 'https') }}"
            alt="icon"
          />
          {% endif %}
        </div>
        {% if confirmed %}
        <div class="header">
          <h3>Unsubscribe from emails</h3>
          <h6>
            You have been successfully removed from this subscriber list and
            won't receive any further emails from us.
          </h6>
        </div>
        {% else %}
        <form id="unsubscribe-form" method="post">
          <div class="header">
            <h3>Unsubscribe from emails</h3>
            <h6>Are you sure you want to unsubscribe?</h6>
            <div class="alert">
              You will stop receiving otp verification emails
            </div>
          </div>
          <div class="button-container row">
            <button
              id="unsubscribe-submit"
              class="button primary-button"
              type="submit"
              name="unsubscribe"
              value="True"
            >
              Unsubscribe
            </button>
          </div>
        </form>
        <script>
          const urlParams = new URLSearchParams(
            window.location.pathname.split("/").pop(),
          );
          const urlToken = urlParams.toString();
          document.getElementById("unsubscribe-form").action =
            `/unsubscribe/${urlToken}`;
        </script>
        {% endif %}
      </div>
    </div>
  </body>
</html>
