<p>Your go-to resource for comprehensive remediation guidance to address source code vulnerabilities across various programming languages. This section serves as a compass, offering tailored solutions and practices to fortify your code.</p>
<p>The programming languages that you will see in this guide are:</p>
<h2>Index</h2>
<ul>
    {%- for category, ids in categorized | dictsort %}
    <li>
        <h3>{{category | capitalize}}</h3>
        <ul>
            {%- for id in ids | sort %}
            <li><a href="criteria-fixes-{{category}}-{{id}}">{{id}}. {{fixes[id].title}}</a></li>
            {%- endfor %}
        </ul>
    </li>
    {%- endfor %}
</ul>
{% include 'layouts/components/footer.html' %}
