<p>This section allows you to determine what is tested and what is not, and find out what is considered a vulnerability. It is also the basis for determining how rigorous a pentest was, based on tested and untested requirements. The security requirements are independent of the type of technology being used and are written as specific and understandable objectives. They are the security demands that you agree to follow and comply with. Through our hacking services, we determine if these are met or not.</p>
<p>The requirements are based on several standards related to information security.</p>
<h2>Index</h2>
<ul>
    {%- for category, requirement_ids in categorized | dictsort %}
    <li>
        <h3>{{category}}</h3>
        <ul>
            {%- for requirement_id in requirement_ids | sort %}
            <li><a href="criteria-requirements-{{requirement_id}}">{{requirement_id}}. {{requirements[requirement_id].en.title}}</a></li>
            {%- endfor %}
        </ul>
    </li>
    {%- endfor %}
</ul>
{% include 'layouts/components/footer.html' %}
