<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- NOFLUID -->
    <script
      src="https://connect-cdn.atl-paas.net/all.js"
      async
    ></script>
    <title>Jira Security | Fluid Attacks</title>
    <link rel="stylesheet" />
    {% if 'https' in url_for('jira_security_static',
    path='styles/settings.css').__str__() %}
    <link
      href="{{ url_for('jira_security_static', path='styles/settings.css') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% else %}
    <link
      href="{{ url_for('jira_security_static', path='styles/settings.css').__str__() | replace('http', 'https') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% endif %}
  </head>
  <body>
    <div class="enter-token">
      <h1>Fluid Attacks | Jira Security Settings</h1>
      {% if error == "invalid_jwt" %}
      <div class="jwt-error">
        <p>Invalid token</p>
      </div>
      {% endif %}
      <form action="/jira-security/user_associate" method="post">
        <label for="token">
          <p>
            API Token:
            <span class="required"> * </span>
          </p>
        </label>
        <input
          name="token"
          id="token"
          type="text"
          class="token-input"
          autocomplete="off"
        />
        <input type="hidden" name="base_url" value="{{ base_url }}" />
        <input type="hidden" name="jwt" value="{{ jwt }}" />
        <p class="docs-text">
          <a
            href="https://help.fluidattacks.com/portal/en/kb/articles/learn-the-basics-of-the-fluid-attacks-api#Authentication_with_Fluid_Attacks__platform_API_Token"
            target="_blank"
            rel="noopener noreferrer"
          >
            <button type="button" class="docs">
              <div>Check our docs</div>
            </button>
          </a>
          &nbsp;for more information on how to generate one
        </p>
        <div class="submit-token-div-1">
          <button type="submit" class="submit-token-button">
            <div class="submit-token-div-2">Connect</div>
          </button>
        </div>
      </form>
    </div>

    <!-- Popup Modal -->
    <div id="popupModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Warning</h2>
        <p>Please read the following responsibility statement carefully.</p>
        <p class="disclaimer-text">
          By proceeding with the installation of this add-on, you authorize
          Fluid Attacks to transfer vulnerability-related data (e.g.,locations
          details) to Jira (Atlassian). This data will be stored in Jira's
          systems and governed by Atlassian’s data policies. Fluid Attacks
          disclaims responsibility for the storage, handling, or use of this
          information by Jira. Please note that declining this authorization
          will prevent the installation and use of this add-on.
        </p>
        <label>
          <input type="checkbox" id="acceptCheckbox" />
          I accept the responsibility
        </label>
        <div class="submit-token-div-1">
          <button id="confirmButton" class="submit-token-button" disabled>
            <div class="submit-token-div-2">Confirm</div>
          </button>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var modal = document.getElementById("popupModal");
        var btn = document.querySelector(".submit-token-button");
        var span = document.getElementsByClassName("close")[0];
        var confirmButton = document.getElementById("confirmButton");
        var acceptCheckbox = document.getElementById("acceptCheckbox");

        btn.onclick = function (event) {
          event.preventDefault();
          modal.style.display = "block";
        };

        span.onclick = function () {
          modal.style.display = "none";
        };

        acceptCheckbox.onchange = function () {
          confirmButton.disabled = !this.checked;
        };

        confirmButton.onclick = function () {
          if (acceptCheckbox.checked) {
            document.querySelector("form").submit();
          }
        };
      });
    </script>
  </body>
</html>
