<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- NOFLUID -->
     <script
      src="https://connect-cdn.atl-paas.net/all.js"
      async
    ></script>
    <title>Jira Security | Fluid Attacks</title>
    <link rel="stylesheet" />
    {% if 'https' in url_for('jira_security_static',
    path='styles/settings.css').__str__() %}
    <link
      href="{{ url_for('jira_security_static', path='styles/settings.css') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% else %}
    <link
      href="{{ url_for('jira_security_static', path='styles/settings.css').__str__() | replace('http', 'https') }}?version=1"
      rel="stylesheet"
      type="text/css"
    />
    {% endif %}
  </head>
  <body>
    <div class="enter-token">
      <h1>Fluid Attacks | Jira Security Settings</h1>
      <div class="authenticated">
        <p>Authenticated as {{ associated_email }}</p>
      </div>
      <form action="/jira-security/user_associate" method="post">
        <div id="token-input-container" style="display: none">
          <label for="api_token">
            <p>
              API Token:
              <span class="required">*</span>
            </p>
          </label>
          <input type="text" id="token" name="token" class="token-input" />
          <input type="hidden" name="jwt" value="{{ jwt }}" />
          <input type="hidden" name="base_url" value="{{ base_url }}" />
          <div class="submit-org-div-1">
            <button type="submit" class="submit-org-button">
              <div class="submit-org-div-2">Update</div>
            </button>
          </div>
        </div>
        <script>
          function toggleTokenInput() {
            var container = document.getElementById("token-input-container");
            if (container.style.display === "none") {
              container.style.display = "block";
            } else {
              container.style.display = "none";
            }
          }
        </script>
      </form>
    </div>
  </body>
</html>
