---
import { Image } from "astro:assets";
import { v2 as cloudinary } from "cloudinary";

interface Props {
  alt: string;
  className: string;
  path: string;
}

const cloudinaryDomain = "fluid-attacks";
cloudinary.config({
  cloud_name: cloudinaryDomain,
});

const { alt, className, path } = Astro.props;
const inferSize = true;
const imageSrc = cloudinary.url(path, {
  force_version: false,
  transformation: { quality: "auto", format: "auto" },
  secure: true,
});
---

<starlight-image-zoom-zoomable>
  <Image alt={alt} class={className} inferSize={inferSize} src={imageSrc} />
</starlight-image-zoom-zoomable>
