doctype html
html(lang='en')
    head
        title _title_
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(name='keywords', content='')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='icon', type='image/x-icon', href='./assets/public/_favicon_')
        link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.min.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(defer='', src='https://code.getmdl.io/1.3.0/material.min.js')
        style.
            video {
            min-width: 320px;
            width: 44vw;
            display: block;
            margin-left: auto;
            margin-right:auto;
            margin-bottom: 5px;
            height: 50vh;
            outline: none;
            }
            @media (max-width: 900px) {
              .mdl-layout-title {
                display: none !important;
              }
            }
