{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share, go_to_button %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('Confirm Deletion') }}
<mj-section padding="0px 10px 24px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello {{ name }},</mj-text>
    <mj-text>
      Just a moment ago, you chose to remove your
          Fluid Attacks' Platform account. Clicking on <strong>Confirm deletion</strong>
          will complete the process. You have seven calendar days to confirm.
          If you do not do it before the deadline,
          you will need to repeat the procedure from the platform.
    </mj-text>
    {{ go_to_button('Confirm deletion', confirm_deletion_url, 'primary-button') }}
  </mj-column>
</mj-section>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
