{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share, go_to_button %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('Credit Card Added') }}
<mj-section padding="0px 10px 0px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello Finance,</mj-text>
    <mj-text>
      A new credit card has been added by
      <strong>
        <a
          href="mailto:{{ responsible }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ responsible -}}
        </a></strong
      >
      to the organization <strong>{{ organization }}</strong>:
    </mj-text>
  </mj-column>
</mj-section>
<mj-wrapper background-color="#fff" padding="25px">
  <mj-section background-color="#f4f4f6" border-radius="5px">
    <mj-column background-color="#f4f4f6">
      <mj-text>
        <strong>Last four digits:</strong><br />{{ last_digits }}<br /><br />
        <strong>Date:</strong><br />{{ date }}
      </mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
