{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share, go_to_button %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('DevSecOps Agent Token') }}
<mj-section padding="0px 10px 24px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello {{ name }},</mj-text>
    <mj-text>
      A DevSecOps Agent token in the group
      <strong>{{ group_name }}</strong> has been
      {% if had_token %} reset {% else %} generated {% endif %}
      by <strong><a
        href="mailto:{{ responsible }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ responsible -}}
      </a></strong>
      {{ report_date }}.<br/>
    </mj-text>
    <mj-text>
      You can use our DevSecOps agent on any OS on which Docker can run.
      You can also integrate it into your <strong>CI/CD pipeline</strong>
      to ensure that your software is built and shipped without vulnerabilities
      previously reported in Fluid Attacks' platform.
      In order to install the agent, you need to follow
      <a href="https://help.fluidattacks.com/portal/en/kb/articles/install-the-ci-agent-to-break-the-build"
        target="_blank"
        rel="noopener noreferrer"
      >
        this guide</a>.
    </mj-text>
    {{ go_to_button('Go to scope', scope_url, 'primary-button') }}
  </mj-column>
</mj-section>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
