{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share %} {% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('Root Moved') }}
    <mj-section padding="0px 10px 24px 10px">
      <mj-column>
        <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Good news!</mj-text>
        <mj-text>
          The root <strong>{{ nickname }}</strong>
          has been successfully moved
          from the group <strong>{{ group }}</strong>
          to the group <strong>{{ target }}</strong>.
          The vulnerabilities previously reported to this root were also moved
          successfully.
        </mj-text>
      </mj-column>
    </mj-section>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
