{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('Root Deactivated') }}
<mj-section padding="0px 10px 0px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello {{ name }},</mj-text>
    <mj-text>
      The root with the nickname <strong>{{ root_nickname }}</strong>
      from the group <strong>{{ group }}</strong> has been deactivated by
      <strong><a
        href="mailto:{{ responsible }}"
        target="_blank"
        rel="noopener noreferrer"
      >
        {{ responsible -}}
      </a></strong>:
    </mj-text>
  </mj-column>
</mj-section>
<mj-wrapper background-color="#fff" padding="10px 25px 25px 25px">
  <mj-section background-color="#f4f4f6" border-radius="5px">
    <mj-column background-color="#f4f4f6">
      <mj-text>
        <strong>Reason:</strong><br/>{{ reason }}<br/><br/>
        <strong>Age:</strong><br/>{{ root_age }} days<br/><br/>
        <strong>Last activation by:</strong><br/>
        <a
          href="mailto:{{ activated_by }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ activated_by }}
        </a><br/><br/>
        {% if with_sast %}
          <strong>Last status:</strong><br/>{{ last_root_state }}<br/><br/>
          <strong>Last cloning date:</strong><br/>{{ last_clone_date }}<br/><br/>
        {% endif %}
        {% for index, value in vuln_counter %}
          <strong>{{ value[1] }}</strong> {{ value[0] }}
          {% if index == vuln_counter_len %}
            vulnerabilities have been closed as a result.
          {% else %}
            ,
          {% endif %}
        {% endfor %}
      </mj-text>
    </mj-column>
  </mj-section>
</mj-wrapper>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
