{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import banner_share %} {% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
{{ banner_share('SBOM generated') }}
    <mj-section padding="0px 10px 24px 10px">
      <mj-column>
        <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hello {{ name }},</mj-text>
        <mj-text>
          We generated an SBOM in the format {{ sbom_format }}-{{ file_extension }}
          for the resource <strong>{{ resource }}</strong> in the group
          <strong>{{ group_name }}</strong>.
          You can download it from the platform's download center.
        </mj-text>
        <mj-image src="https://res.cloudinary.com/fluid-attacks/image/upload/v1732911708/integrates/notifications/email-downloads.png" alt="download center" />
      </mj-column>
    </mj-section>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
