{% extends "layouts/common.mjml" %}
{% from 'layouts/components/forms.mjml' import go_to_button %}
{% block layout %}
{% include 'layouts/components/dark_logo_header.mjml' %}
<mj-section padding="20px 10px 0px 10px">
  <mj-column>
    <mj-text align="left" font-size="24px" font-weight="bold" color="#40404f">Hi {{ name }},</mj-text>
    <mj-text>
      {% if have_vulnerabilities %}
      Our scanning tool has detected
      <em>
        vulnerabilities in your company’s software.
      </em>
      It’s time to remediate them before they can be exploited.
    </mj-text>
    {{ go_to_button('Proceed to remediate', app_link, 'primary-button') }}
      {% else %}
        Oops! We have not found
        {% if cloning_status == 'FAILED' %}
          vulnerabilities in your repository because of a cloning failure.
          To get the most out of Fluid Attacks’ free trial, we suggest you
          check again your repository data or add a new one.
        {% else %}
          vulnerabilities in your repository. To get
          the most out of Fluid Attacks’ free trial, we suggest you add a new
          repository.
        {% endif %}
        Remember you can add as many repositories as you want.
    </mj-text>
      {{ go_to_button('Add new repository', app_link, 'primary-button') }}
      {% endif %}
    <mj-text>
      We look forward to having you!
    </mj-text>
  </mj-column>
</mj-section>
{% include 'layouts/components/footer.mjml' %}
{% endblock %}
