{% macro go_to_button(text, url, type) -%}
<mj-button
  css-class="{{type}}"
  color="#fff"
  background-color="{% if type == "secondary-button" %}#2e2e38{% else %}#bf0b1a{% endif %}"
  border-radius="5px"
  font-size="18px"
  href="{{ url }}"
  width="90%"
  padding="10px 0px 10px 0px"
>
  {{ text }}
</mj-button>
{% endmacro %}
{% macro banner(icon) -%}
<mj-section>
  <mj-column padding="0px 10px 0px 10px">
    <mj-text align="center" vertical-align="middle" font-size="36px" font-weight="bold" line-height="1.3" padding="0px" color="#40404f">
      <img src="{{ icon }}" style="vertical-align:middle; display:inline; margin-right:20px;"/>
      <span style="vertical-align:middle;">{{ caller() }}</span>
    </mj-text>
  </mj-column>
</mj-section>
{% endmacro %}

{% macro banner_bell(text) %}
{% call banner(
  'https://res.cloudinary.com/fluid-attacks/image/upload/v1725639041/notifications/common/bell.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}

{% macro banner_plane(text) %}
{% call banner(
  'https://res.cloudinary.com/fluid-attacks/image/upload/v1725639041/notifications/common/notify.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}

{% macro banner_magnifying(text) %}
{% call banner(
  'https://res.cloudinary.com/fluid-attacks/image/upload/v1725639040/notifications/common/search.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}

{% macro banner_share(text) %}
{% call banner(
  'https://res.cloudinary.com/fluid-attacks/image/upload/v1725639040/notifications/common/share.png'
  ) %}
  {{- text -}}
  {% endcall %}
{% endmacro %}
